@media (max-width: 700px) {
  .container {
    height: auto;
  }
  header {
    width: 90%;
  }
  .btun {
    width: 20%;
    float: none;
    margin: 10px 40%;
  }
  .board {
    width: 100%;
  }
  .picks {
    width: 90%;
    height: 300px;
    justify-content: space-between;
    padding: 0 5px;
  }
  .envelope {
    align-self: flex-start;
  }
  .message {
    align-self: flex-end;
    width: 70%;
  }
  .message h2 {
    font-size: 2rem;
  }
  .rules {
    width: 70%;
  }
  .rules_img {
    object-fit: contain;
    width: 100%;
  }
  .p {
    left: 10%;
  }
  .s {
    left: 65%;
  }
}
